.contact-section {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    background-image: url("../../img/bg-map.png");
    background-size: cover;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 0;
}

.cerere-oferta-button {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-color: #004094;
    background-size: 300% 100%;
    transition: all 0.1s ease-in-out;
    color: white;
    font-size: 16px;
}

.custom-shape-divider-top-1635533765 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635533765 svg {
    position: relative;
    display: block;
    width: calc(199% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1635533765 .shape-fill {
    fill: white;
}

.custom-shape-divider-bottom-1635751933 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1635751933 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.custom-shape-divider-bottom-1635751933 .shape-fill {
    fill: white;
}

.form-contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.car-image {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 50%;
    margin: auto;
}
.car-image img {
    align-self: flex-end;
    width: 80%;
    z-index: 2;
}
@media (max-width: 900px) {
    .custom-shape-divider-bottom-1635751933 svg {
        width: calc(100% + 1.3px);
        height: 49px;
    }
    .form-contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .car-image img {
        width: 350px;
        height: auto;
    }
}
