.contact-section {
    width: 100%;
    height: 110vh;
    display: flex;
    position: relative;
    background-image: url("../../img/bg-map.png");
    background-size: cover;
    align-items: center;
    padding-top: 40px;
    z-index: 0;
}

.contact-section .wrapper {
    max-width: 600px;
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-left: 20px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    box-shadow: 5px 10px 18px #888888;
}

.cerere-oferta-button {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-color: #004094;
    background-size: 300% 100%;
    transition: all 0.1s ease-in-out;
    color: white;
    font-size: 16px;
}

.custom-shape-divider-top-1635533765 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1635533765 svg {
    position: relative;
    display: block;
    width: calc(199% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1635533765 .shape-fill {
    fill: white;
}

.custom-shape-divider-bottom-1635751933 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1635751933 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 72px;
}

.custom-shape-divider-bottom-1635751933 .shape-fill {
    fill: #000000;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1635751933 svg {
        width: calc(100% + 1.3px);
        height: 63px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1635751933 svg {
        width: calc(100% + 1.3px);
        height: 49px;
    }
}
.car-image img{
   width: 60%;
   height: auto;
   margin-left: 20px;
}