.service-page-landing-container {
    background-color: rgb(255, 255, 255);
    height: 200vh;
    min-width: 100%;
}

.service-page-landing-container .svg-bg img {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100vw;
}

.service-page-landing-container .svg-bg {
    width: 100vw;
    height: calc(100vh + 5px);
    background-image: url(../../../img/cerculet2.svg),
        url(../../../img/oras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -5px;
    background-position: right, center;
    /* object-fit: cover; */

    /* webkit */
    -webkit-background-image: url(../../../img/cerculet2.svg),
        url(../../../img/oras.jpg);
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: cover;
    -webkit-background-position-y: -5px;
    -webkit-background-position: right bottom, center;
}

@media screen and (max-width: 1200px) {
    .service-page-landing-container .svg-bg {
        background-position-y: 200px;
        background-position: center;
    }
}
