.service-page-landing-container {
    background-color: rgb(255, 255, 255);
    height: 200vh;
    min-width: 100%;
}

.service-page-landing-container .svg-bg img {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

.service-page-landing-container .svg-bg {
    background: url(../../../img/oras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -5px;
}
