.about-section{
    display: flex;
    flex-direction: column;
    align-self: center;
    background:url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
    height: 700px;
} 
.about-section h1{
  text-align: center;
}

.second-container{

  display: flex;
  flex-direction: row;
  margin-left: 30px;
  height: 350px;
}
.first-container {
    display: flex;
    flex-direction: row;
    height: 350px;
    margin-left: 50px;
}
.about-section h1{
    color: black;
    font-size:50px;
  font-weight:400;
  
}
.about-section hr{
    width: 200px; 
    color: black; 
    margin-top: -10px;
}
.who-we-are-text{
  height:350px;
  width:700px;
}
.iso-images{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 70px;
}
.first-row-certificates{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.second-row-certificates{
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iso-img{
  margin-right: 60px;
}
.our-mission-text{
   flex: 1;
  width: 500px;
    text-align:start;
    margin-right: 40px;
    
}
.our-mission-text h2{
  text-align: center;
}
.our-mission-text h5{
 
  font-style: italic;
  text-align: right;
  font-size: larger;
  color: blue;
  
}
.pic
{
  box-shadow: 6px 6px 7px #888888;
  width:300px;
  height:300px;
  position: relative;
  overflow: hidden;
    background-image: url('https://cdn.discordapp.com/attachments/864558741701132338/897956347830739024/slide1.png');
background-size: auto 280px;
    margin-top: -20px;
  margin-left:135px;
  object-fit: cover;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pic:before
{
  content: '';
  position: absolute;
  width: 450px;
  height: 450px;
  background: url('https://cdn.discordapp.com/attachments/864558741701132338/897956347830739024/slide1.png') ;
  background-size: auto 280px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pic:hover
{
  box-shadow: 3px 3px 7px #888888;
  cursor:pointer;
}
