.about-section {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    background: white;
    width: 100%;
    height: 700px;
}

.about-section .first {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-section .second {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section .second .circle-container {
    position: absolute;
    width: 250px;
    height: 250px;
    animation: rotation 10s infinite linear;
    transition: 0.2s;
    margin: 0px;
    border-radius: 100%;
}
.about-section .second .circle-container:hover {
    width: 270px;
    height: 270px;
}
.about-section .second .circle1 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    object-fit: contain;
    top: -25px;
    left: -25px;
    animation: counter-rotation 10s infinite linear;
}

.about-section .second .circle2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -25px;
    right: -25px;
    animation: counter-rotation 10s infinite linear;
    object-fit: contain;
}
.about-section .second .circle3 {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 100%;
    position: absolute;
    bottom: -25px;
    right: -25px;
    animation: counter-rotation 10s infinite linear;
}

.about-section .second .circle4 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    bottom: -25px;
    left: -25px;
    animation: counter-rotation 10s infinite linear;
    object-fit: contain;
}
.about-section .second .center {
}

@keyframes rotation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes counter-rotation {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
