.portofolio-page {
    width: 100%;
    background-color: #ebebeb;
}

.portofolio-page .header {
    position: fixed;
    width: 100%;
    height: 300px;
    background-color: #00355e;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portofolio-page .header img {
    position: absolute;
    left: -150px;
    bottom: -230px;
    transform: rotate(30deg);
}

.portofolio-page .header h1 {
    position: relative;
    color: white;
    vertical-align: middle;
    font-weight: bold;
    font-size: 44px;
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 2px 8px rgb(0 0 0);
}

.scrollDownAnim {
    animation-name: onScrollDownHeaderAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.scrollUpAnim {
    animation-name: onScrollUpHeaderAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes onScrollDownHeaderAnimation {
    0% {
        top: 0;
        left: 0;
        right: 0;
    }
    50% {
        transform: scale(0.9);
        left: auto;
        right: auto;
        top: 20px;
        border-radius: 15px;
        box-shadow: -1px 1px 28px -4px rgba(0, 0, 0, 0.51);
    }
    100% {
        transform: scale(0.9);
        top: -20%;
        left: auto;
        right: auto;
        box-shadow: -1px 1px 28px -4px rgba(0, 0, 0, 0.51);
    }
}

@keyframes onScrollUpHeaderAnimation {
    0% {
        transform: scale(0.9);
        top: -20%;
        left: auto;
        right: auto;
    }
    50% {
        transform: scale(0.9);
        left: auto;
        right: auto;
        top: 20px;
        border-radius: 15px;
    }
    100% {
        top: 0;
        left: 0;
        right: 0;
    }
}

@keyframes addPerspectiveAnimation {
    from {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    to {
        box-shadow: 0 0 1.5em -1em black;
        -webkit-box-shadow: 0 0 1.5em -1em black;
        -moz-box-shadow: 0 0 1.5em -1em black;
    }
}

@keyframes removePerspectiveAnimation {
    from {
        box-shadow: 0 0 1.5em -1em black;
        -webkit-box-shadow: 0 0 1.5em -1em black;
        -moz-box-shadow: 0 0 1.5em -1em black;
    }
    to {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}

.removeCardPerspective {
    animation-name: removePerspectiveAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.addCardPerspective {
    animation-name: addPerspectiveAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.portofolio-page .grid-container {
    position: relative;
    padding-top: 350px;
    width: 100%;
    --n: 5;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(max(300px, 100% / var(--n)), 1fr)
    );
    row-gap: 30px;
    column-gap: normal;
    margin-bottom: 50px;
}
