/* .screen-component {
    top: 0px;
    position: absolute;
} */
.portofolio-title{
    text-align: center;
    margin: auto;
    height: 50px;
    width: fit-content;
    border: 3px solid transparent;
    border-bottom-color: #e74c3c;
    color: #e74c3c;
    font-size: 30px;
    opacity: 0.6;
    background: transparent;
}
.portofolio-list-outside {
    display: flex;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 160px;
    overflow: hidden;
}
.clients_grid{
    position: relative;
    flex-grow: 1;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
    max-width: 100%;
    
}

@media (max-width: 1023px){
.client_div {
    max-width: 100%;
    max-height: 100%;
}}

.client_div {
    height: 250px;
    width: 240px;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}


