.contact-first-container {
    display: flex;
    flex-direction: row;
}
.contact-infos {
    margin-top: 20px;
    margin-left: 10px;
    align-self: center;
}
.contact-first-container .contact-infos p {
    font-weight: bold;
    font-size: larger;
    height: auto;
}
.mapouter {
    display: flex;
    text-align: right;
    height: 350px;
    width: 70%;
}
@media (max-width: 767px) {
    .mapouter {
        display: flex;
        text-align: center;
        height: 350px;
        width: 100%;
    }
    .contact-first-container {
        display: flex;
        flex-direction: column;
    }
}

.team-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.our-team {
    height: 300px;
    width: 300px;
    padding: 20px 0 30px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
    box-shadow: 3px 5px 5px #4e5052;
}
.our-team:hover {
    box-shadow: 5px 5px 5px #ff8800;
}

.our-team .pic {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
}

.our-team .pic img {
    object-fit: cover;
    object-position: 0px -10px;
}

.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
}
.our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-team .name {
    font-size: 22px;
    font-weight: 900;
    color: #4e5052;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.our-team .post {
    display: block;
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
    color: #4e5052;
}
.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #00325a;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social {
    bottom: 0;
}
.our-team .social li {
    display: inline-block;
}
.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
}
@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 20px;
    }
    .team-section {
        display: flex;
        flex-wrap: wrap;
    }
}
