.contact-first-container {
    display: flex;
    flex-direction: row;
}
.contact-infos {
    display: flex;
}
.contact-first-container .contact-infos p {
    font-weight: bold;
    font-size: larger;
}
