.navigation-menu-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    z-index: 10;
}

.navigation-menu-container {
    height: 50px;
    width: fit-content;
    margin-right: -30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    background-color: #004094;
    border-radius: 35px;
    display: flex;
    align-items: center;
    z-index: 4;
    box-shadow: 4px 4px 15px 0px #000000;
}
.logo-shape {
    height: 50px;
    width: fit-content;
    margin-left: -25px;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-right: 25px;
    background-color: #dbe5f8;
    border-radius: 35px;
    display: flex;
    align-items: center;
    box-shadow: inset 4px 3px 15px 0px #004094;
    /* box-shadow: 4px 4px 15px 0px #080808; */
}
.blob {
    height: 520px;

    position: absolute;
    top: -220px;
    left: -140px;
}

.navigation-menu-container h3 {
    vertical-align: middle;
}

.navigation-menu-container.inactive {
    animation-name: kf-burger-menu-inactive;
    animation-duration: 0.3s;
}

.navigation-menu-container.active {
    animation-name: kf-burger-menu-active;
    animation-duration: 0.3s;
}

.burger-menu-button-container:hover {
    cursor: pointer;
}

.navigation-menu-items {
    display: flex;
}

.burger-menu-button-container {
    display: none;
}

.side-menu-wrapper {
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* Animation */
    transition: 0.2s;
    -webkit-transition: 0.2s;
    right: -100%;
}

.side-menu-wrapper.active {
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* Animation */
    right: 0%;
}

.side-menu-container {
    width: 250px;
    background-color: #04264e;
    padding-top: 80px;
}

@media (max-width: 850px) {
    .navigation-menu-items {
        display: none;
    }

    .navigation-menu-container {
        width: 60px;
        height: 40px;
        justify-content: center;
    }

    .burger-menu-button-container {
        display: flex;
        align-items: center;
    }
}

@keyframes kf-burger-menu-active {
    0% {
        margin-right: -30px;
    }
    50% {
        margin-right: -115px;
    }
    100% {
        margin-right: -30px;
    }
}

@keyframes kf-burger-menu-inactive {
    0% {
        margin-right: -30px;
    }
    50% {
        margin-right: -115px;
    }
    100% {
        margin-right: -30px;
    }
}
.logo {
    width: auto;
    height: 70px;
    margin-left: 20px;
    position: relative;
    
}
