.client-card {
    margin: 5px 5px;
    display: flex;
    align-content: center;
    align-self: center;
    padding: 4 4px;
    margin: auto;
    width: 300px;
    height: 150px;
    background: white;
    border-radius: 10px;
}

.client_image {
    padding-left: 10px;
    margin: auto;
    vertical-align: middle;
    width: 75%;
    max-height: 75%;
    align-self: center;
    object-fit: cover;
    object-fit: contain;
}
