.body {
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    text-decoration: none;
    right: 0;
    width: 100%;
}

.body Link {
    text-decoration: none;
}

.screen-component {
    position: absolute;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    width: auto;
    right: 20px;
    font-size: 40px;
    background: rgb(129, 128, 125);
    opacity: 0.7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }