.body {
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    text-decoration: none;
    right: 0;
    width: 100%;
}

.body Link {
    text-decoration: none;
}

.screen-component {
    position: absolute;
}
